*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-around;
  min-height: 50px;
  background-color: teal;
  align-items: center;
  text-decoration: none;
}

.logo{
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
}

.nav-links li{
  list-style: none;
  margin: 0 12px;
}

.nav-links a{
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
}

.burger{
  display: none;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

@media screen and (max-width:600px){
  body{
    overflow-x: visible;
  }
  .nav-links{
    position: absolute;
    right: 0;
    height: 50vh;
    top: 50px;
    background-color: teal;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
  }
  .nav-links li{
    opacity: 1;
  }
  .burger{
    display: block;
    cursor: pointer;
  }
}

.nav-avtive{
  transform: translateX(0%%);
}
